<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CarServiceSystem</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.ncs.controller.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.ncs.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ResetPassword</display-name>
		<servlet-name>ResetPassword</servlet-name>
		<servlet-class>com.ncs.controller.ResetPassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddCarDetails</display-name>
		<servlet-name>AddCarDetails</servlet-name>
		<servlet-class>com.ncs.controller.AddCarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.ncs.controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RequestService</display-name>
		<servlet-name>RequestService</servlet-name>
		<servlet-class>com.ncs.controller.RequestService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewCarDetails</display-name>
		<servlet-name>ViewCarDetails</servlet-name>
		<servlet-class>com.ncs.controller.ViewCarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewAllCustomers</display-name>
		<servlet-name>ViewAllCustomers</servlet-name>
		<servlet-class>com.ncs.controller.ViewAllCustomers</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewPendingRequests</display-name>
		<servlet-name>ViewPendingRequests</servlet-name>
		<servlet-class>com.ncs.controller.ViewPendingRequests</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditCarDetails</display-name>
		<servlet-name>EditCarDetails</servlet-name>
		<servlet-class>com.ncs.controller.EditCarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateCarDetails</display-name>
		<servlet-name>UpdateCarDetails</servlet-name>
		<servlet-class>com.ncs.controller.UpdateCarDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckServiceStatus</display-name>
		<servlet-name>CheckServiceStatus</servlet-name>
		<servlet-class>com.ncs.controller.CheckServiceStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteCar</display-name>
		<servlet-name>DeleteCar</servlet-name>
		<servlet-class>com.ncs.controller.DeleteCar</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditPersonalDetails</display-name>
		<servlet-name>EditPersonalDetails</servlet-name>
		<servlet-class>com.ncs.controller.EditPersonalDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteAccount</display-name>
		<servlet-name>DeleteAccount</servlet-name>
		<servlet-class>com.ncs.controller.DeleteAccount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdatePersonalDetails</display-name>
		<servlet-name>UpdatePersonalDetails</servlet-name>
		<servlet-class>com.ncs.controller.UpdatePersonalDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateServiceStatus</display-name>
		<servlet-name>UpdateServiceStatus</servlet-name>
		<servlet-class>com.ncs.controller.UpdateServiceStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteCustomer</display-name>
		<servlet-name>DeleteCustomer</servlet-name>
		<servlet-class>com.ncs.controller.DeleteCustomer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditCustomerDetails</display-name>
		<servlet-name>EditCustomerDetails</servlet-name>
		<servlet-class>com.ncs.controller.EditCustomerDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RedirectServiceStatus</display-name>
		<servlet-name>RedirectServiceStatus</servlet-name>
		<servlet-class>com.ncs.controller.RedirectServiceStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateCustomerDetails</display-name>
		<servlet-name>UpdateCustomerDetails</servlet-name>
		<servlet-class>com.ncs.controller.UpdateCustomerDetails</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckoutItems</display-name>
		<servlet-name>CheckoutItems</servlet-name>
		<servlet-class>com.ncs.controller.CheckoutItems</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BuyAccessories</display-name>
		<servlet-name>BuyAccessories</servlet-name>
		<servlet-class>com.ncs.controller.BuyAccessories</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClearMessages</display-name>
		<servlet-name>ClearMessages</servlet-name>
		<servlet-class>com.ncs.controller.ClearMessages</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.ncs.controller.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InitiateRequestService</display-name>
		<servlet-name>InitiateRequestService</servlet-name>
		<servlet-class>com.ncs.controller.InitiateRequestService</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendResetPasswordEmail</display-name>
		<servlet-name>SendResetPasswordEmail</servlet-name>
		<servlet-class>com.ncs.controller.SendResetPasswordEmail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetPassword</servlet-name>
		<url-pattern>/ResetPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCarDetails</servlet-name>
		<url-pattern>/AddCarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestService</servlet-name>
		<url-pattern>/RequestService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewCarDetails</servlet-name>
		<url-pattern>/ViewCarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAllCustomers</servlet-name>
		<url-pattern>/ViewAllCustomers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewPendingRequests</servlet-name>
		<url-pattern>/ViewPendingRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCarDetails</servlet-name>
		<url-pattern>/EditCarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCarDetails</servlet-name>
		<url-pattern>/UpdateCarDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckServiceStatus</servlet-name>
		<url-pattern>/CheckServiceStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCar</servlet-name>
		<url-pattern>/DeleteCar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditPersonalDetails</servlet-name>
		<url-pattern>/EditPersonalDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAccount</servlet-name>
		<url-pattern>/DeleteAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatePersonalDetails</servlet-name>
		<url-pattern>/UpdatePersonalDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServiceStatus</servlet-name>
		<url-pattern>/UpdateServiceStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCustomer</servlet-name>
		<url-pattern>/DeleteCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCustomerDetails</servlet-name>
		<url-pattern>/EditCustomerDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectServiceStatus</servlet-name>
		<url-pattern>/RedirectServiceStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCustomerDetails</servlet-name>
		<url-pattern>/UpdateCustomerDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckoutItems</servlet-name>
		<url-pattern>/CheckoutItems</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyAccessories</servlet-name>
		<url-pattern>/BuyAccessories</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClearMessages</servlet-name>
		<url-pattern>/ClearMessages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitiateRequestService</servlet-name>
		<url-pattern>/InitiateRequestService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendResetPasswordEmail</servlet-name>
		<url-pattern>/SendResetPasswordEmail</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
