<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>job-portal</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>EmployerLogin</display-name>
    <servlet-name>EmployerLogin</servlet-name>
    <servlet-class>com.ncs.controller.EmployerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployerLogin</servlet-name>
    <url-pattern>/EmployerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMRegister</display-name>
    <servlet-name>EMRegister</servlet-name>
    <servlet-class>com.ncs.controller.EMRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMRegister</servlet-name>
    <url-pattern>/EMRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateJobPosting</display-name>
    <servlet-name>CreateJobPosting</servlet-name>
    <servlet-class>com.ncs.controller.CreateJobPosting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateJobPosting</servlet-name>
    <url-pattern>/CreateJobPosting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageCompanyDetails</display-name>
    <servlet-name>ManageCompanyDetails</servlet-name>
    <servlet-class>com.ncs.controller.ManageCompanyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCompanyDetails</servlet-name>
    <url-pattern>/ManageCompanyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendResetPasswordEmail</display-name>
    <servlet-name>SendResetPasswordEmail</servlet-name>
    <servlet-class>com.ncs.controller.SendResetPasswordEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendResetPasswordEmail</servlet-name>
    <url-pattern>/SendResetPasswordEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>com.ncs.controller.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMLogout</display-name>
    <servlet-name>EMLogout</servlet-name>
    <servlet-class>com.ncs.controller.EMLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMLogout</servlet-name>
    <url-pattern>/EMLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewJobApplicants</display-name>
    <servlet-name>ViewJobApplicants</servlet-name>
    <servlet-class>com.ncs.controller.ViewJobApplicants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewJobApplicants</servlet-name>
    <url-pattern>/ViewJobApplicants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewJobPostings</display-name>
    <servlet-name>ViewJobPostings</servlet-name>
    <servlet-class>com.ncs.controller.ViewJobPostings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewJobPostings</servlet-name>
    <url-pattern>/ViewJobPostings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSRegister</display-name>
    <servlet-name>JSRegister</servlet-name>
    <servlet-class>com.ncs.controller.JSRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSRegister</servlet-name>
    <url-pattern>/JSRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSChangePassword</display-name>
    <servlet-name>JSChangePassword</servlet-name>
    <servlet-class>com.ncs.controller.JSChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSChangePassword</servlet-name>
    <url-pattern>/JSChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditJobPosting</display-name>
    <servlet-name>EditJobPosting</servlet-name>
    <servlet-class>com.ncs.controller.EditJobPosting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditJobPosting</servlet-name>
    <url-pattern>/EditJobPosting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateJobPosting</display-name>
    <servlet-name>UpdateJobPosting</servlet-name>
    <servlet-class>com.ncs.controller.UpdateJobPosting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJobPosting</servlet-name>
    <url-pattern>/UpdateJobPosting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobPosting</display-name>
    <servlet-name>DeleteJobPosting</servlet-name>
    <servlet-class>com.ncs.controller.DeleteJobPosting</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobPosting</servlet-name>
    <url-pattern>/DeleteJobPosting</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateJobApplication</display-name>
    <servlet-name>CreateJobApplication</servlet-name>
    <servlet-class>com.ncs.controller.CreateJobApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateJobApplication</servlet-name>
    <url-pattern>/CreateJobApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewJobApplications</display-name>
    <servlet-name>ViewJobApplications</servlet-name>
    <servlet-class>com.ncs.controller.ViewJobApplications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewJobApplications</servlet-name>
    <url-pattern>/ViewJobApplications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchJobs</display-name>
    <servlet-name>SearchJobs</servlet-name>
    <servlet-class>com.ncs.controller.SearchJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchJobs</servlet-name>
    <url-pattern>/SearchJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainSearchJobs</display-name>
    <servlet-name>MainSearchJobs</servlet-name>
    <servlet-class>com.ncs.controller.MainSearchJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainSearchJobs</servlet-name>
    <url-pattern>/MainSearchJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageJobSeekerDetails</display-name>
    <servlet-name>ManageJobSeekerDetails</servlet-name>
    <servlet-class>com.ncs.controller.ManageJobSeekerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageJobSeekerDetails</servlet-name>
    <url-pattern>/ManageJobSeekerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetJobObject</display-name>
    <servlet-name>GetJobObject</servlet-name>
    <servlet-class>com.ncs.controller.GetJobObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetJobObject</servlet-name>
    <url-pattern>/GetJobObject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadDB</display-name>
    <servlet-name>LoadDB</servlet-name>
    <servlet-class>LoadDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadDB</servlet-name>
    <url-pattern>/LoadDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrepareToApplyJob</display-name>
    <servlet-name>PrepareToApplyJob</servlet-name>
    <servlet-class>com.ncs.controller.PrepareToApplyJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrepareToApplyJob</servlet-name>
    <url-pattern>/PrepareToApplyJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCredentials</display-name>
    <servlet-name>AddCredentials</servlet-name>
    <servlet-class>com.ncs.controller.AddCredentials</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCredentials</servlet-name>
    <url-pattern>/AddCredentials</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJSAccount</display-name>
    <servlet-name>DeleteJSAccount</servlet-name>
    <servlet-class>com.ncs.controller.DeleteJSAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJSAccount</servlet-name>
    <url-pattern>/DeleteJSAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEMAccount</display-name>
    <servlet-name>DeleteEMAccount</servlet-name>
    <servlet-class>com.ncs.controller.DeleteEMAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEMAccount</servlet-name>
    <url-pattern>/DeleteEMAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMUpdateApplicationStatus</display-name>
    <servlet-name>EMUpdateApplicationStatus</servlet-name>
    <servlet-class>com.ncs.controller.EMUpdateApplicationStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMUpdateApplicationStatus</servlet-name>
    <url-pattern>/EMUpdateApplicationStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSUpdateApplicationStatus</display-name>
    <servlet-name>JSUpdateApplicationStatus</servlet-name>
    <servlet-class>com.ncs.controller.JSUpdateApplicationStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSUpdateApplicationStatus</servlet-name>
    <url-pattern>/JSUpdateApplicationStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptOffer</display-name>
    <servlet-name>AcceptOffer</servlet-name>
    <servlet-class>com.ncs.controller.AcceptOffer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptOffer</servlet-name>
    <url-pattern>/AcceptOffer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSDeleteApplication</display-name>
    <servlet-name>JSDeleteApplication</servlet-name>
    <servlet-class>com.ncs.controller.JSDeleteApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSDeleteApplication</servlet-name>
    <url-pattern>/JSDeleteApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewJobsApplied</display-name>
    <servlet-name>ViewJobsApplied</servlet-name>
    <servlet-class>com.ncs.controller.ViewJobsApplied</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewJobsApplied</servlet-name>
    <url-pattern>/ViewJobsApplied</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMJSLogin</display-name>
    <servlet-name>EMJSLogin</servlet-name>
    <servlet-class>com.ncs.controller.EMJSLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMJSLogin</servlet-name>
    <url-pattern>/EMJSLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrepareEditJobApplication</display-name>
    <servlet-name>PrepareEditJobApplication</servlet-name>
    <servlet-class>com.ncs.controller.PrepareEditJobApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrepareEditJobApplication</servlet-name>
    <url-pattern>/PrepareEditJobApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMJSUpdateApplicationStatus</display-name>
    <servlet-name>EMJSUpdateApplicationStatus</servlet-name>
    <servlet-class>com.ncs.controller.EMJSUpdateApplicationStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMJSUpdateApplicationStatus</servlet-name>
    <url-pattern>/EMJSUpdateApplicationStatus</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ValidateJSRegistration</display-name>
    <filter-name>ValidateJSRegistration</filter-name>
    <filter-class>com.ncs.filter.ValidateJSRegistration</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidateJSRegistration</filter-name>
    <url-pattern>/ValidateJSRegistration</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidateJSRegistration</filter-name>
    <servlet-name>JSRegister</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPostings</display-name>
    <servlet-name>SearchPostings</servlet-name>
    <servlet-class>com.ncs.controller.SearchPostings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPostings</servlet-name>
    <url-pattern>/SearchPostings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditJobApplication</display-name>
    <servlet-name>EditJobApplication</servlet-name>
    <servlet-class>com.ncs.controller.EditJobApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditJobApplication</servlet-name>
    <url-pattern>/EditJobApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSingleApplication</display-name>
    <servlet-name>ViewSingleApplication</servlet-name>
    <servlet-class>com.ncs.controller.ViewSingleApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSingleApplication</servlet-name>
    <url-pattern>/ViewSingleApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCred</display-name>
    <servlet-name>RemoveCred</servlet-name>
    <servlet-class>com.ncs.controller.RemoveCred</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCred</servlet-name>
    <url-pattern>/RemoveCred</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAllApplicationToReceived</display-name>
    <servlet-name>UpdateAllApplicationToReceived</servlet-name>
    <servlet-class>com.ncs.controller.UpdateAllApplicationToReceived</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAllApplicationToReceived</servlet-name>
    <url-pattern>/UpdateAllApplicationToReceived</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadAllJobs</display-name>
    <servlet-name>LoadAllJobs</servlet-name>
    <servlet-class>com.ncs.controller.LoadAllJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAllJobs</servlet-name>
    <url-pattern>/LoadAllJobs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMSortApplications</display-name>
    <servlet-name>EMSortApplications</servlet-name>
    <servlet-class>com.ncs.controller.EMSortApplications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMSortApplications</servlet-name>
    <url-pattern>/EMSortApplications</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMBatchStatusUpdate</display-name>
    <servlet-name>EMBatchStatusUpdate</servlet-name>
    <servlet-class>com.ncs.controller.EMBatchStatusUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMBatchStatusUpdate</servlet-name>
    <url-pattern>/EMBatchStatusUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMUpdateAllStatusTo</display-name>
    <servlet-name>EMUpdateAllStatusTo</servlet-name>
    <servlet-class>com.ncs.controller.EMUpdateAllStatusTo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMUpdateAllStatusTo</servlet-name>
    <url-pattern>/EMUpdateAllStatusTo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EMUpdateSelectedStatusTo</display-name>
    <servlet-name>EMUpdateSelectedStatusTo</servlet-name>
    <servlet-class>com.ncs.controller.EMUpdateSelectedStatusTo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMUpdateSelectedStatusTo</servlet-name>
    <url-pattern>/EMUpdateSelectedStatusTo</url-pattern>
  </servlet-mapping>
</web-app>