<div class="top-nav-container">
    <div class="top-nav-logo">
        <a href="http://localhost:4200" class="top-nav-link">EMA</a>
    </div>
    <div></div>
    <div class="top-nav-control-container">
        <div class="top-nav-control">
            <button type="button" class="top-nav-btn" (click)="showDepartments()">Departments</button>
        </div>
        <div class="top-nav-control">
            <button type="button" class="top-nav-btn" (click)="showProjects()">Projects</button>
        </div>
        <div class="top-nav-control">
            <button type="button" class="top-nav-btn" (click)="showEmployees()">Employees</button>
        </div>
    </div>
</div>
