<script src="https://kit.fontawesome.com/b5b7b3504f.js" crossorigin="anonymous"></script>
<div class="route-container">
    <div class="route-header">
        <div class="employee-tab-header">Employees</div>
        <!-- <div class="employee-search-container">
            <input type="search" placeholder="Search employee by name" class="search-input">
            <div class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div> -->
        <div></div>
        <div class="add-employee">
            <button type="button" (click)="goToEmployeeForm()" class="add-employee-btn"><i class="fa-solid fa-square-plus"></i> Add Employee</button>
        </div>
    </div>
    <div class="employees-container">
        <div class="employee-card" *ngFor="let employee of employees">
            <div class="employee-profile-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="employee-details-item">
                <div class="employee-details-label">Name:</div>
                <div class="employee-details-value">{{employee.name}}</div>
            </div>
            <div class="employee-details-item">
                <div class="employee-details-label">Role:</div>
                <div class="employee-details-value">{{employee.role}}</div>
            </div>
            <div class="employee-details-item">
                <div class="employee-details-label">Department:</div>
                <div class="employee-details-value">{{employee.department ? employee.department.departmentName : ""}}</div>
            </div>
            <!-- <div class="employee-details-item">
                <div class="employee-details-label">Project:</div>
                <div class="employee-details-value">{{employee.project ? employee.project.projectTitle : ""}}</div>
            </div> -->
            <div class="employee-details-item">
                <div class="employee-details-label">Start date:</div>
                <div class="employee-details-value">{{employee.creationDate}}</div>
            </div>
            <div class="employee-control-area">
                <div class="spacer"></div>
                <div class="employee-details-control">
                    <button type="button" (click)="editEmployee(employee)"  class="employee-details-control-btn">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </div>
                <div class="employee-details-control">
                    <button type="button" (click)="deleteEmployee(employee.id, employee.name)"  class="employee-details-control-btn">
                        <i class="fa-solid fa-square-xmark"></i>
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>
